
.App {
  text-align: center;
  background-color: black;
  color: rgb(0, 0, 0);
}

/* Adjustments for the input group to make the search bar gray with white text */
.input-group .form-control {
  background-color: rgb(255, 255, 255);
  color: white;
  padding: 30%;
  margin-top: 30px;
  margin-bottom: 20px;
}

/* Style for the search button to make it purple */
.buttons {
  color: beige;
  width: 100px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.btnn {
  color: aqua;
}

/* Adds more space between each card */
.card {
  margin-bottom: 20px; /* Adjust this value to increase/decrease space */
}


.Row {
  justify-content: center;
}


.Card.Img {
  max-height: 50px; /* Adjust based on your preference */
  object-fit: cover;
}
